
%section#systems-section{ ng_controller: "SystemsCtrl" }
  = link_to "Novo Sistema", "#/systems/new"
  %ul.systems-list
    %li.system{ ng_repeat: "system in systems" }
      = link_to "{{system.name}}", "#/systems/{{system.id}}", class: 'system-name'
      %ul.books-list
        %li.book{ ng_repeat: "book in system.books" }
          = link_to "{{book.name}}", "#/rules?book_id={{book.id}}"

%section#rules-section{ ng_controller: "RulesCtrl" }
  .view{ ng_view: "" }
