.rules{ ng_controller: "RulesCtrl" }
  -#= render 'rules/links'
  %input.query{ type: "text", class: "input-medium search-query", ng_model: "query", placeholder: "Pesquisar" }

  = render partial: 'rules/list', locals: { rules: 'rules' }
