= render 'rules/links'
%input{ type: "text", class: "input-medium search-query", ng_model: "query" }

%ul.rules-list
  %li{ ng_repeat: "rule in rules | filter:query" }
    %span.rule-name {{rule.name}}
    %markdown{ data_md: "rule.description" }
