= render 'rules/links'
%form.form-horizontal{ ng_submit: "addRule()" }
  %input{ type: "text", ng_model: "newSystem.bookId", value: "{{bookId}}", class: "hide" }
  .control-group
    %input{ type: "text", placeholder: "Nova Regra", ng_model: "newRule.name" }
  .control-group
    %input{ type: "text", placeholder: "Descrição", ng_model: "newRule.description" }
  .control-group
    %input.input-small{ type: "text", placeholder: "Página", ng_model: "newRule.page" }
  %input{ type: "submit", class: "btn", value: "Salvar" }
